{% load static %}

<!doctype html>
<html>
<head>
    <title>Utkarsh Saxena</title><link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body" id="profile-wrapper">
                    <img id="profile-pic"src="{% static 'images/dp.jpg' %}">
                    <br>
                    <h4>Hi I'm Utkarsh!</h4>
                    <p>I like django.</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body">
                    <h4>My first project using django.</h4>
                    <hr>
                    <p>
                        ohuvjbdifbvuijdbidnisnnciasbcvueibeaniebuieuguaheinojdiabuiu
                    </p>
                    <p>
                        uyydtrxtxcyguhijojiyvttfygijoj
                    </p>
                    <p>
                        iygutydtsesryiujohdrtuhoj
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
        </div>
        <br>
    </div>
</body>
</html>